:root {
  --brand-colors-complementary: #FCD402;
  --brand-colors-main-color: #FF9100;
  --brand-colors-secondary: #01350B;
  --brand-colors-third: #3B1A0C;
  --dark-colors-dark-1: #3A3A3C;
  --dark-colors-dark-2: #6B7588;
  --dark-colors-dark-3: #8F90A6;
  --dark-colors-dark-4: #C7C9D9;
  --light-color-light-1: #DDE5E9;
  --light-color-light-2: #EBEBF0;
  --light-color-light-3: #F5F9FF;
  --light-color-light-4: #FCFCFC;
  --light-color-black-colors-back-1: #FFF6EC;
  --light-color-black-colors-back-2: #FCFCFC;
  --light-color-black-colors-back-3: #F7F7F7;
  --black: #181818;
}
/*FOOTER STYLES*/
footer {
  background-color: var(--brand-colors-secondary);
  color: var(--light-color-light-4);
  align-items: center;
  border-top: 0.625rem solid var(--brand-colors-main-color);
}

footer p {
  font-size: 0.875rem;
  line-height: 1.3125;
  margin: 1rem 0 0;
  padding-right: 1.25rem;
}

footer a {
  color: var(--light-color-light-4);
  text-decoration: none;
}

.conteudo {
  width: 100%;
}

.container-info {
  padding: 2.5rem 6.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-IV {
  display: flex;
}

.column-I img {
  max-width: 11.0625rem;
}

.column-I {
  max-width: 24.375rem;
}

.columns {
  height: 6.5rem;
  padding-right: 1.25rem;
  justify-content: space-between;
}

.icons-container {
  margin-right: 0.5rem;
  align-items: center;
}

.hover-footer-link:hover {
  color: var(--brand-colors-main-color);
}

.logo {
  padding: 0.625rem 0;
  border-top: 1px solid var(--brand-colors-main-color);
  display: flex;
  width: 100%;
  justify-content: center;
}
footer p{
  color: var(--light-color-light-4);
  font-size: 0.875rem;
  line-height: 1.3125;
  margin-top: 1rem;
  padding-right: 1.25rem;
}
/*MOBILE FOOTER STYLES*/
@media (max-width:576px){
  .container-info {
    padding: 40px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
  }

  footer {
    width: 100%;
  }

  .logo {
    padding: 16px 0;
    gap: 10px;
    width: 100%;
  }
}