* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root{
  --branco: #FFFFFF;
  --amarelo-1: #FDBF00;
  --amarelo-2: #FFDE41;
  --mar-1: #523522;
  --branco-2: #F4F6FD;
  --cinza: #333333;
  --mar-2: #714C2F;
  --black: #1B1B1B;
  --cinza-2: #080707;
  /* STYLE GUIDE: */
  --brand-colors-complementary: #FCD402;
  --brand-colors-main-color: #FF9100;
  --brand-colors-secondary: #01350B;
  --brand-colors-third: #3B1A0C;

  --dark-colors-dark-1: #3A3A3C;
  --dark-colors-dark-2: #6B7588;
  --dark-colors-dark-3: #8F90A6;
  --dark-colors-dark-4: #C7C9D9;

  --light-color-light-1: #DDE5E9;
  --light-color-light-2: #EBEBF0;
  --light-color-light-3: #F5F9FF;
  --light-color-light-4: #FCFCFD;
}

body{
  font-family: 'Open Sans', sans-serif;
}


.brand-main-color{color: var(--brand-colors-main-color, #FF9100);} .brand-complementary-color{color: var(--brand-colors-complementary, #FCD402);} .brand-secondary-color{color: var(--brand-colors-secondary, #01350B);} .brand-third-color{color: var(--brand-colors-third, #3B1A0C);}
.dark-1-color{color: var(--dark-colors-dark-1, #3A3A3C);} .dark-2-color{color: var(--dark-colors-dark-2, #6B7588);} .dark-3-color{color: var(--dark-colors-dark-3, #8F90A6);} .dark-4-color{color: var(--dark-colors-dark-4, #C7C9D9);}
.light-1-color{color: var(--light-color-light-1, #DDE5E9);} .light-2-color{color: var(--light-color-light-2, #EBEBF0);} .light-3-color{color: var(--light-color-light-3, #F5F9FF);} .light-4-color{color: var(--light-color-light-4, #FCFCFD);}
.branco-color{color: var(--branco, #FFFFFF);} .branco-2-color{color: var(--branco-2, #F4F6FD);}  .mar-1-color{color: var(--mar-1, #523522);} .cinza-color{color: var(--cinza, #333333);} .black-color{color: var(--black, #1B1B1B);} .amarelo-1-color{color: var(--amarelo-1, #FDBF00);}



h1, h2, h3, h4, h5, h6{
  font-family: 'Rubik', sans-serif;
  margin: 0 !important;
}

h1{
  font-size: 4rem;
  font-weight: 500;
}

h2{
  font-size: 2.5rem;
  font-weight: 700;
}


h3{
  font-size: 2rem;
}

.small-font{
  font-size: 0.875rem;
}

.large-font{
  font-size: 1.25rem;
}

.extra-large-fonte, h4{
  font-size: 1.5rem;
}

a{
  display: inline-block !important;
  text-decoration: none;
}

p{
  margin: 0 !important;
  padding: 0 !important;
}

ol, ul, li{
  margin: 0 !important;
  padding: 0 !important;
}

.transition-ease-in {
  transition: all 0.3s ease-in;
}

.hover-transform:hover{
  transform: scale(1.025);
}

.totalmente-100{
  width: 100%;
  height: 100%;
}

.etiqueta-btn{
  background-color: var(--amarelo-1, #FDBF00);
  color: var(--black, #1B1B1B);
  border-radius: 0.25rem;
  font-weight: 700;
}

.include-img{
  position: relative;
}

.include-span{
  top: 0.5rem;
  left: 0.5rem;
  position: absolute;
}

/* HEADER STYLE - INICIAL */

.header-awe-background{
  background-color: var(--brand-colors-secondary, #01350B);
}

.header-awe{
  height: 5.125rem;
}

.item-menu > .link-menu:hover{
  border-bottom: var(--brand-colors-main-color, #FF9100) 1px solid;
}

/* HEADER STYLE - FINAL */

/* -/-/-/-/-/-/-/-/---/-/-/-/-/-/-/- */

/* FOOTER STYLE - INICIAL */

footer {
  background-color: var(--brand-colors-secondary, #01350B);
  border-top: 0.625rem solid var(--brand-colors-main-color, #FF9100);
  font-weight: 700;
}

footer p {
  line-height: 1.3125;
  padding-right: 1.25rem;
}

.container-info {
  padding: 3rem 0 4rem 0;
}

.column-I img {
  max-width: 11.0625rem;
}

.column-I {
  width: 25rem;
}

.columns {
  height: 6.5rem;
}

.hover-footer-link:hover {
  color: var(--brand-colors-main-color, #FF9100);
}

.logo {
  border-top: 1px solid var(--brand-colors-main-color, #FF9100);
}

/* FOOTER STYLE - FINAL */
