* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--cinza, #333333);
}

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    display: inline-block !important;
    text-decoration: none !important;
}

ol, ul, li, p, figure{
    margin: 0 !important;
    padding: 0 !important;
}

li{
    list-style: none;
}

.transition-ease-in {
    transition: all 0.3s ease-in;
}

.hover-transform:hover{
    transform: scale(1.025);
}

.totalmente-100{
    width: 100%;
    height: 100%;
}

.etiqueta-btn{
    background-color: var(--amarelo-1, #FDBF00);
    color: var(--black, #1B1B1B);
    border-radius: 0.25rem;
    font-weight: 700;
}

.include-img{
    position: relative;
}

.include-span{
    top: 0.5rem;
    left: 0.5rem;
    position: absolute;
}
.navegacao-select {
    border-bottom: 2px solid #ff9100;
}

.navegacao-select-hover:hover {
    border-bottom: 2px solid #ff9100;
}

.gap-32{
    gap: 32px;
}

/* HEADER STYLE - INICIAL */

.header-awe-background{
    background-color: var(--brand-colors-secondary, #01350B);
}

.header-awe{
    height: 5.125rem;
}

.item-menu > .link-menu:hover{
    border-bottom: var(--brand-colors-main-color, #FF9100) 1px solid;
}

/* HEADER STYLE - FINAL */

/* -/-/-/-/-/-/-/-/---/-/-/-/-/-/-/- */

/* FOOTER STYLE - INICIAL */

footer {
    background-color: var(--brand-colors-secondary, #01350B);
    border-top: 0.625rem solid var(--brand-colors-main-color, #FF9100);
    font-weight: 700;
}

footer p {
    line-height: 1.3125;
    padding-right: 1.25rem;
}
  
.container-info {
    padding: 3rem 0 4rem 0;
}

.column-I img {
    max-width: 11.0625rem;
}
  
.column-I {
    width: 25rem;
}
  
.columns {
    height: 6.5rem;
}
  
.hover-footer-link:hover {
    color: var(--brand-colors-main-color, #FF9100);
}
  
.logo {
    border-top: 1px solid var(--brand-colors-main-color, #FF9100);
}

/* FOOTER STYLE - FINAL */
