.hero-homepage{
    background: url(../imgs/image\ 16_9.svg) no-repeat;
    background-size: cover;
    padding-bottom: 14.25rem;
}

.timeline-homepage{
    padding: 8.5rem 0rem 11.0625rem 0rem;
}

.timeline-part{
    position: relative;
    min-height: 37.5rem;
    overflow: hidden;
}

.page-timeline{
    max-width: 57rem !important;
    height: 41rem;
}

.timeline{
    background-color: var(--verde);
    width: 0.4375rem;
    height: 100%;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.card-timeline{
    max-width: 29.75rem;
}

.gradient-saiba-mais{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 5.09%, #FFF 51.95%) !important;
    padding: 9.6875rem 0rem 2.875rem 0rem;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.card-team{
    width: 255px;
    height: 213px;
    border: 1px solid var(--cinza-2);
    border-radius: 8px;
    background-color: var(--branco-2);
}

.team-homepage{
    padding-top: 108px;
    height: 1072px;
    background: url(../imgs/ilustra.svg) #FFFAF2 no-repeat left bottom;
}

.premios-homepage{
    padding: 7.5rem 0 9rem 0;
}

.line-center-homepage{
    border: var(--brand-colors-main-color) 1px solid;
}
.card-projetos{
    background-color: var(--branco-2);
    border-radius: 0.625rem;
}

.btn-page-projeto{
    padding: 0.5625rem 1.0625rem;
}

.page-projetos-select{
    border-radius: 3.25rem;
    background-color: var(--brand-colors-main-color);
}
.projetos-hoempage{
    padding-bottom: 10.3125rem;
}