.card-time{
    width: 255px;
    height: 213px;
    border: 1px solid var(--cinza-2, #080707);
    border-radius: 8px;
    background-color: var(--branco-2, #F4F6FD);
}

.time-homepage{
    padding-top: 108px;
    height: 1072px;
    background-color: #FFFAF2 ;
    background: url(../imgs/ilustra.svg) no-repeat left bottom;
}

.premios-homepage{
    padding: 7.5rem 0 9rem 0;
}

.line-center-homepage{
    border: var(--brand-colors-main-color, #FF9100) 1px solid;
}
.card-projetos{
    background-color: var(--branco-2);
    border-radius: 0.625rem;
}

.btn-page-projeto{
    padding: 0.5625rem 1.0625rem;
}

.page-projetos-select{
    border-radius: 3.25rem;
    background-color: var(--brand-colors-main-color, #FF9100);
}