.card-time{
    width: 255px;
    height: 213px;
    border: 1px solid var(--cinza-2, #080707);
    border-radius: 8px;
    background-color: var(--branco-2, #F4F6FD);
}

.time-homepage{
    padding-top: 108px;
    height: 1072px;
    background-color: #FFFAF2 ;
    background: url(../imgs/ilustra.svg) no-repeat left bottom;
}