.h2-hero-index{
    letter-spacing: 0.8rem;
}

.text-hero-index{
    max-width: 600px;
    font-size: 1.5rem;
}

.button-hero-index{
    padding: 0.5rem 3rem;
    border: transparent 1px solid;
    background-color: var(--amarelo-1, #FDBF00);
    border-radius: 0.25rem;
}

.button-hero-index:hover{
    background-color: transparent;
    border: var(--brand-colors-main-color, #FF9100) 1px solid;
    color: var(--amarelo-1);
}

.hero-economia-solidaria{
    padding: 6rem 0;
}

.parceiros{
    padding: 7.625rem 0;
}

section.noticias-index{
    padding-top: 7.5rem;
    padding-bottom: 11.25rem;
}