.ultimas-publicacoes{
    .publicacoes{
        .left{
            h6{
                font-weight: 400;
            }
        }
        .right{
            .item-noticias{
                display: inline-block;
                max-width: 289px;
                .img{
                    max-width: 289px;
                    width: 100%;
                    height: 170px;
                    border: .5px solid var(--cinza-2);
                }
                padding: 0 !important;
            }
        }
    }
}
.search{
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--cinza, #333);
    background: var(--branco-2, #F4F6FD);
    max-width: 389px;
    input{
        border: none;
        width: 100%;
        background-color: transparent;
        outline: none;
    }
}

.bottom{
    .container-cards{
        .row{
            justify-content: space-between !important;
            .item-noticias{
                padding: 0;
                max-width: 289px;
                .img{
                    width: 289px;
                    height: 170px;
                    border: .5px solid var(--cinza-2);
                } 
            }
        }
    }
    .controle{
        width: max-content;
        margin: 40px 0px 189px;
        height: 40px;
        p:hover,p:first-child{
            background: var(--Laranja, #FF9100);
            width: 32px;
            height: 32px;
            border-radius: 50%;
            cursor: pointer;
        }
        p{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}