h1, h2, h3, h4, h5, h6,.medium-font{
    font-family: 'Rubik', sans-serif;
    margin: 0 !important;
}

h1{
    font-size: 64px !important;
    font-weight: 500 !important;
}

.medium-font{
    font-size: 48px;
    font-weight: 700;
}

h2{
    font-size: 40px !important;
    font-weight: 700 !important;
}

h3{
    font-size: 32px !important;
}

h4, .extra-large-fonte{
    font-size: 24px !important;
}

.small-font{
    font-size: 14px;
}

.large-font{
    font-size: 20px !important;
}