:root{
    --branco: #FFFFFF;
    --amarelo-1: #FDBF00;
    --amarelo-2: #FFDE41;
    --mar-1: #523522;
    --branco-2: #F4F6FD;
    --cinza: #333333;
    --mar-2: #714C2F;
    --black: #1B1B1B;
    --cinza-2: #080707;
    /* STYLE GUIDE: */
    --brand-colors-complementary: #FCD402;
    --brand-colors-main-color: #FF9100;
    --brand-colors-secondary: #01350B;
    --brand-colors-third: #3B1A0C;

    --dark-colors-dark-1: #3A3A3C;
    --dark-colors-dark-2: #6B7588;
    --dark-colors-dark-3: #8F90A6;
    --dark-colors-dark-4: #C7C9D9;

    --light-color-light-1: #DDE5E9;
    --light-color-light-2: #EBEBF0;
    --light-color-light-3: #F5F9FF;
    --light-color-light-4: #FCFCFD;
}

.brand-main-color{color: var(--brand-colors-main-color, #FF9100);} .brand-complementary-color{color: var(--brand-colors-complementary, #FCD402);} .brand-secondary-color{color: var(--brand-colors-secondary, #01350B);} .brand-third-color{color: var(--brand-colors-third, #3B1A0C);}
.dark-1-color{color: var(--dark-colors-dark-1, #3A3A3C);} .dark-2-color{color: var(--dark-colors-dark-2, #6B7588);} .dark-3-color{color: var(--dark-colors-dark-3, #8F90A6);} .dark-4-color{color: var(--dark-colors-dark-4, #C7C9D9);}
.light-1-color{color: var(--light-color-light-1, #DDE5E9);} .light-2-color{color: var(--light-color-light-2, #EBEBF0);} .light-3-color{color: var(--light-color-light-3, #F5F9FF);} .light-4-color{color: var(--light-color-light-4, #FCFCFD);}
.branco-color{color: var(--branco, #FFFFFF);} .branco-2-color{color: var(--branco-2, #F4F6FD);}  .mar-1-color{color: var(--mar-1, #523522);} .cinza-color{color: var(--cinza, #333333);} .black-color{color: var(--black, #1B1B1B);} .amarelo-1-color{color: var(--amarelo-1, #FDBF00);}